.input-wrapper {
  display: flex;
  position: relative;
}

.input {
  min-width: 200px;
  padding: 12px;
  border: 1px solid #cbcbcb;
  border-radius: 15px;
  font-weight: 500;
}

.input::placeholder {
  color: var(--color-neutral-4);
}

.helper {
  color: var(--color-primary-1);
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.icon-left {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-right {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-left + .input {
  padding-left: 40px;
}
